/* App全体のスタイル */
.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ビューポート全体の高さ */
  
}

.content {
  flex: 1; /* Mainコンテンツが残りのスペースを埋める */
}

.footer-main {
  background-color: #333;
  color: rgb(242, 242, 245);
  text-align: center;
  padding: 10px;
  padding-top: 25px;
  
}

