/* 背景グラデーション */
.top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(70deg, #ff7e5f, #feb47b, #9368d0);
    position: relative;
    text-align: center;
  }
  
  /* メインのタイトル */
  .main-title {
    font-size: 48px;
    font-weight: bold; 
    color: white;
    margin: 0;
    padding-bottom: 1em;
  }
  
  /* ハイライトされた文字 */
  .highlight {
    text-decoration: underline;
  }
  
  /* Go to SpoTube */
  .top-page-button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .top-page-button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .top-page-button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

  .highlight{
    text-decoration: none;
  }

  .consultation-btn{
    text-decoration: none;
  }