.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(70deg, #ff7e5f, #feb47b, #9368d0);
    position: relative;
    text-align: center;
  }